*{
    margin: 0;padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: all transform 0.3s ease;
}
#header{
    background-color:black;
    width: 100%;
    height: 98px;
    position: relative;
    display: flex;
    
    
    
}
.vnd{
    font-size: 21px;
    color: #f50;

}
.logos{
    width: 18%;
    height:78%;
    margin-left: 70px;
}
#logo{
    
    width: 100%;
    height:100%;
    margin-left: 70px;
    color: #f2ebeb;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    font-weight: bold;
    border-bottom: 3px solid white;
    
  
}
#search{       
    width: 30%;
    height: 34px;  
    margin-top: 40px;
    border-radius: 24px;
    margin-left: 15%;
    border: #faf2f2;
    align-items: center;
    position: relative;
   
    
}
#search>input{     
    width: 87%;    
    height: 99%;
    font-size: 15px;
    border-radius: 24px ;
    background-color: #252525;
    color: white;
    position: relative;      
    padding-left: 20px; 
    border: 0;
    
}
#buttonsearch{
    background-color:#252525;
    width: 14%;
    height: 20px;   
    position: absolute;
    border: none;
    top:18%;
    right:16%;
    cursor: pointer;
    
}
#lienhe_giohang{         
    width: 38%;
    height: 40px;
    position: relative;   
    display: flex; 
    top: 40px;
    margin-left: 30px;
}
#diadiem{
    position: absolute;
    left: 45%;
    
   
}
.sldh{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color:white;
    color: red;
    position: absolute;
    left:15.8%;
    bottom: 70%;
    padding:1%;
    text-align: center;
    border:1px solid black;
    font-size: 14px;
    
}
.phonenumber{
     text-align: left;
     font-size: 16px;
     position:absolute;
     left:37px;
     color:white;
}
.phonenumber:hover{color:gold;}

#giohang{
    width: 120px;
    height: 35px;
    position: absolute;
    display: flex;
    right: 60px;
    
    
}
#giohang>button{
    font-size: 19px;
    color: aliceblue;
    background-color:transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    
}

#giohang>button:hover{
    color: gold;
}
.quantrivien{
    position: absolute;    
    top:10px;
    left: 10px;
    display: inline-block;
    width: 25px;
    height: 30px;
    padding: 2px;
    padding-top: 2.8px;
    padding-left: 3px;
    font-size: 17px;
    color: #faf2f2;
    border: 2px solid white;
    border-radius: 5px;
}
.quantrivien:hover{
    color: gold;
}

/* MeNu */
.menu{
    width: 100%;
    height: 45px;
    background-color:#796752;
    
    display: flex;
    padding-right: 20px;
    
}
.home{    
     border-bottom: 2px solid white;
     margin-bottom: 3px;
     margin: 10px 20px 1.4px 80px;
}
.menu1{
   
    
    font-size: 15px;
    display: flex;
    width: 100%;

    
  
}


/* menu cấp 2 */
.menu2{
    display: none;
    position: absolute;
    width: 300px;
    background-color: #695640c8;
    border-top: 1px solid white;
    top:45px;
    padding: 10px;
    color: #f2ebeb;
    border-radius:0px 0px 5px 5px;
}
.menu2>li{
    font-size: 17px;
    text-align: left;
    
}
.menu1>li{
    list-style-type: none;     
    text-align: center;
    line-height: 30px;
    padding-top: 9px;
    position: relative;
    width: 14%;
    
}
.menu1>li:hover .menu2{
    display: block;
    z-index: 999;
}
.menu1>li>a{     
        
     text-decoration: none;
     text-transform: uppercase;
     color: white;
   
     
}
.menu1>li>a:hover{
    padding-bottom: 10px;
    border-bottom:2px solid white ;
    
}
.menu1>li:hover>a{
    color: black;
    
}
.menu2>li:hover{
    color:rgb(185, 49, 49);
}
/* Phần Thân */
.banner{
    margin-top: 0.5px;
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    
}
.banner >img{
    width: 100%;
}

.tittleth{
    width: 500px;
    height: 40px;
    margin: 0 auto;
    color: white;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    padding-top: 9px;    
    border-radius: 12px ;
    background-color: #796752;
    position: relative;
    bottom: 21px;
    
    
}
.kengang{
    width: 1200px;
    height: 1.8px;
    background-color: #796752;    
    margin: 0 auto;
    margin-top: 35px;
    
    
}
.thuonghieus{
    width: 1200px;
    height: 100px;
    border: 2px solid black;   
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 4px 4px 2px;
    border-radius: 5px;
    

}
.thuonghieu{
    width: 13.2%;
    border: 2.3px solid black;
    height: 99%;
    border-radius: 5px;
}
.banner2s
{
     width: 1200px;
    height: 300px;
    margin: 0 auto;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.banner2s img{
    width: 49%;
    height: 100%;
    border-radius: 3px;
}

.tieudeuytin{
     width: 1200px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10px;
}
.tieudeuytin .tdut{
    width: 32%;
    height:100%;
    padding-top: 16px;
    position: relative;
}
.tieudeuytin1{
    font-weight: bold;
    font-size: 26px;
    color: black;
    text-align: center;
    text-transform: uppercase;
}
.tieudeuytin2{
    font-weight: bold;
    font-size: 17px;
    color: rgb(107, 104, 104);
    text-align: center;
    text-transform: uppercase;
}
.tdut .img1{
 position: absolute;
 width: 84px;
 height: 62px;
 top:9px;
 left: 18px;

}
.tdut .img2{
    position: absolute;
    width: 84px;
    height: 62px;
    top:5px;
    left: -39px;
   
}
.danhmucsp{
     width: 1200px;
    display: flex;
    text-align: center;
    margin: 20px auto;
    padding: 0 10px 0
}
.tittledmsp{
    text-align: center;   
    color:black;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    width: 47%;

}
.danhmucsp .kengang1{
    margin-top: 11px;
    width: 60%;
    height: 2.5px;
    background-color: #796752;
  
}
.anhdmsps{
     width: 1200px;
    height: 250px;
    display: flex;   
    margin: 0 auto;
    justify-content: space-around;
}

.anhdmsps>a>img{    
    width: 100%;
    height: 100%;
    background-color: aqua;
    border: 2px solid black;
    
}
.anhdmsps>a>img:hover{
    filter: brightness(70%);
    
}
.sanphambc{
    width: 1200px;
    height: 50px;
    color: #484847;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 5px;
    margin-bottom: 15px;
    padding-top: 9px;
    border-radius: 7px;
    background-color: rgb(196, 196, 191);
}

.containersp{
    margin: 0 auto;
    margin-top: 20px;
    width: 1195px;
    height: auto;    
    display: flex;
    flex-wrap: wrap;      
    justify-content: space-between;
    /* flex wrap giúp các phần tử nếu full chiều ngang sẽ tự 
    xuống dòng */
}
.containersp .boxsp{
    width: 24.2%;
    height: 390px;          
    padding-top: 10px;
    text-align: center;
  
    margin:10px 0;
}
.containersp .boxsp img{
    width: 89%;
    height: 75%;
    margin-bottom: 10px;

}
.containersp .boxsp img:hover{
    width: 92%;
    height: 79%;

}
.containersp .boxsp .titlettsp{
    font-size: 18px;
    text-decoration: none;
    color: black;    
}
.containersp .boxsp .titlettsp:hover{
    color: #f50;
}
.containersp .boxsp .giattsp{
    width: 90%;
    height: 10%;
    margin: 0 auto;
    margin-top: 12px;
    
}
.giattsp .gia{
    color: #f50;
    font-size: 17px;
    display: inline;
    font-weight: 700;
}
.giattsp .giacu{
    color: rgb(54, 52, 52);
    font-size: 13px;
    display: inline;
    text-decoration: line-through;
}
.giattsp>span{
    display: inline-block;
    background-color:#f50;
    color: #faf2f2;
    border-radius: 5px;
    width: 40px;
    height: 18px;
    padding-top: 2px;
    font-size: 14px;
    margin-left: 10px;
    
}
.sanpham{
    width: 1200px;
    height: 50px;   
    margin: auto;
    font-size: 29px;
    position: relative;
    padding-left: 3px;
    font-weight: bold;
    margin-top: 40px;
    
}
.sanpham div{
    background-color: #484847;
    width: 82.9%;
    position: absolute;
    height: 3px;
    left: 16.8%;
    top:16px
}
.kengang2{
    width: 900px;
    height: 3px;
    background-color: #796752;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.kengang2 .title3{
    width: 46%;
    font-size: 26px;
    position: relative;  
    bottom:13px;
    left: 24%;
    background-color: white;
    text-transform: uppercase;
    padding:0 10px 0;
    text-align: center;
    font-weight: bold;

}
.footer{
    background-color:#796752;	
	width: 100%;
    
    margin-top: 40px;
    border-radius: 6px;
    padding: 20px 20px 20px 22px;
    
}
.logo{
    display: inline-block;
    margin-top: 38px;
    margin-left: 20px;
    width: 390px;
    height: 230px;
    border-radius: 9px;
    margin-right: 80px;
    
}
.logo>img{
    
    display: inline-block;
    width: 100%;
    height: 92%;
    border-radius: 15px;
}
.noidung{
    
    display: inline-block;
    width: 390px;
    height: 250px;
    text-align: center;
   
}
li{list-style: none;}
.noidung>ul>li{
    text-align: left;
    font-size: 19px;
    color: #f2ebeb;
    line-height: 35px;
}
.noidung>ul>li:hover{
    color: gold;
    cursor: pointer;
}
.noidung>ul>li>a{
    text-decoration: none;
    font-size: 28px;
    color: gold;
    font-weight: bold;
}
.noidung>ul>li>a:hover{color: black;}
.ndend{
    display: block;
    width: 1100px;
    margin: auto;
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    border-top: 1px solid black;
    padding-top: 25px;
}