<div class="blockTable">
    <h3 class="title_manage" style="margin-right: 35.3%;margin-bottom: 2%;">Quản lý hóa đơn bán</h3>
    <span class="hdb confirm hdb_active" onclick="hdb_active(this) "ng-click="showListDH(0)">Chưa xác nhận</span>
    <span class="hdb no_confirm" onclick="hdb_active(this)" ng-click="showListDH(1)">Đã xác nhận</span>
    <span class="hdb cancel" onclick="hdb_active(this)" ng-click="showListDH(2)">Đã Hủy</span>
    <div style="display: inline-block;float: left;bottom: 3px;left: 2%;position: relative;"><span style="color: rgb(150, 148, 148);font-size: 16px">Showing </span><input type="number" value="10" ng-model="pageSize" ng-init="pageSize=8" ng-change="clickSearch()" style="width: 48px;height: 17px;"></div>

        <!-- Nội dung -->
    
        <table  border="1" cellspacing="0" cellpadding="5" class="table_header" style="margin-top: 2%;">
            <thead style="background-color: #EAECF4;color: #7A707E;border: none;">
                <td style="width: 5%;height: 19px;">Mã HĐ</td>     
                <td style="width: 20%;" >Tên KH</td>        
                <td style="width: 20%;">Email</td>
                <td style="width: 9%;">Phone</td>        
                <td style="width: 10%;">Trạng thái</td>
                <td style="width: 10%;">Thành Tiền</td>
                <td style="width: 10%;">Chức năng</td>        
            </thead>
        </table>
        <div class="table_content">
            <table   cellspacing="0" cellpadding="5"  >
                <tr ng-repeat="x in listItem" style="border-bottom: 2px solid rgb(244, 242, 242);">
                    <td style="width: 5%;height: 19px;">{{x.maHD}}</td>     
                    <td style="width: 20%;" >{{x.tenKH}}</td>        
                    <td style="width: 20%;">{{x.email}}</td>
                    <td style="width: 9%;">{{x.sdt}}</td>
                    <td style="width: 10%;">
                        <span ng-if="x.trangThai === 0">Chưa xử lý</span>
                        <span ng-if="x.trangThai === 1">Đã xử lý</span>
                        <span ng-if="x.trangThai === 2">Đã hủy</span>

                      </td>   
                    <td style="width: 10%;">{{x.thanhTien+'đ'}}</td>
             
                    <td style="width: 10%;">
                        <button title="Xác nhận đơn hàng" class="task" style="margin-right: 3px;" ng-click="update_statusHDB(x,1)" ng-hide="hideConfirmHDB"><i class="fa-solid fa-circle-check" style="color: #31ec18;"></i></button>
                        <button title="Xem chi tiết đơn hàng" class="task" style="margin-right: 3px;" ng-click= "getDetail_oderByID(x)"><i class="fa-solid fa-circle-info" style="color: #1f5151;"></i></button>
                        <button title="Hủy đơn hàng" class="task" style="margin-right: 3px;" ng-click="update_statusHDB(x,2) "ng-hide="hideCancelHDB"><i class="fa-solid fa-delete-left"></i></button>
                       
                    </td>  
                </tr>
            </table>
        </div>

        <!-- Chi tiết 1 hóa đơn -->
        <div class="Screen"  ng-show="screen_shadow"></div>

        <div class="form detailSP" ng-show="detailSPshow"  style="padding: 10px;"> 
            <div class="fa-solid fa-circle-xmark buttonExit" style="color: #e23428; font-size: 30px;" ng-click="exitForm()" type="submit"></div>               
                <h3 class="title_manage">Thông tin chi tiết đơn hàng</h3>
                <!-- Thông tin đơn hàng -->
                <div class="infor_order">                    
                   <table>
                    <tr>
                        <td style="width: 200px;">Mã đơn hàng</td>
                        <td>:</td>
                        <td>{{inforHDB.maHD}}</td>
                    </tr>
                    <tr>
                        <td>Tên tài khoản</td>
                        <td>:</td>
                        <td>{{ inforHDB.tenTaiKhoan ? inforHDB.tenTaiKhoan : 'Trống' }}</td>
                    </tr>
                    <tr>
                        <td>Trạng thái</td>
                        <td>:</td>
                        <td>
                            <span ng-if="inforHDB.trangThai === 0">Chưa xử lý</span>
                            <span ng-if="inforHDB.trangThai === 1">Đang chờ giao hàng</span>
                            <span ng-if="inforHDB.trangThai === 2">Đã hủy</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Ngày tạo</td>
                        <td>:</td>
                        <td>{{ inforHDB.ngayTao | date:' HH:mm:ss - dd/MM/yyyy' }}</td>

                    </tr>
                    <tr>
                        <td>Tên khách hàng</td>
                        <td>:</td>
                        <td>{{inforHDB.tenKH}}</td>
                    </tr>
                    <tr>
                        <td>Số Điện Thoại</td>
                        <td>:</td>
                        <td>{{inforHDB.sdt?inforHDB.sdt:"Trống"}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ</td>
                        <td>:</td>
                        <td>{{inforHDB.diaChi!=null?inforHDB.diaChi:'Trống'}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{inforHDB.email}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ nhận hàng</td>
                        <td>:</td>
                        <td>{{inforHDB.diaChiGiaoHang}}</td>
                    </tr>
                    <tr>
                        <td>Thời gian giao hàng dự kiến</td>
                        <td>:</td>
                        <td>{{inforHDB.thoiGianGiaoHang| date:'dd/MM/yyyy' }}</td>
                    </tr>
                    <tr>
                        <td>Tổng tiền đơn hàng</td>
                        <td>:</td>
                        <td>{{ inforHDB.thanhTien | number}} VNĐ </td>
                    </tr>
                   </table>
                </div>

                <!-- List danh sách sản phẩm mua của đơn hàng -->
                <h4 style="font-weight: bold;width: 95%; margin: 1% 6%;color: blue;">Danh sách sản phẩm mua</h4>
                <div class="list_Product_Order " >                    
                    <table  border="1" cellspacing="0" cellpadding="5" style="width: 100%;height: 100%; margin: 0;">
                       
                            <tr style="height: 20px;color: white;background-color: rgb(0, 119, 255);">
                                <td style="height: 15px;">Mã SP</td>
                                <td>Tên SP</td>
                                <td>Ảnh SP</td>
                                <td>Sl mua</td>
                                <td>Giá bán</td>
                                <td>Thành tiền</td>
                            </tr>
                             
                            <tr ng-repeat="sp in inforHDB.chiTietHoaDonBan" style="color: black;">
                                <td style="height: 15px;">{{sp.maSP}}</td>
                                <td>{{sp.tenSP}}</td>
                                <td><img src="{{sp.imageSP}}" alt="error" style="width: 40px;height: 30px;"></td>
                                <td>{{sp.soLuong}}</td>
                                <td>{{sp.giaBan}}</td>
                                <td>{{sp.tongTien}}</td>
                            </tr>
                    </table>
                </div>
                <h5 ng-if="inforHDB.chiTietHoaDonBan==null" style=" color: red;padding:1% 5.5% 3%;">Không có sản phẩm nào để hiện thị</h5>
               
        </div>
           <!-- -------------------------- -->
         <div class="nextpage" style="float: right;margin-right: 3%;">
            <button ng-click="page_prev()" ng-disabled="pageprev" >Trang trước</button>
            <button ng-click="page_after()" ng-disabled="pageafter">Trang sau</button>
         </div>
    
    
</div>
    