<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/CSS/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="/library/angular.min.js"></script>
    <title>Admin</title>
</head>
<body ng-app="loginModule" ng-controller="loginCtrl">
    <!-- Đăng Nhập -->
    <div class="login" >       
        <div class="form">        
                <!--  Phải-->
            <div class="container-left-Form">
                <img src="/image/logologin.jfif" alt="">
            </div>
            <!-- Trái -->
            <div class="container-right-Form">
                 <h2>Welcome</h2>
                 <div class="Check TaiKhoan">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Tài khoản" id="taikhoan" ng-model="username">
                 </div>
                 <div class="Check MatKhau">
                    <i class="fa-solid fa-unlock"></i>
                    <input type="password" placeholder="Mật khẩu" id="matkhau" ng-model="password">
                 </div>
                <button id="dangnhap" ng-click="checkAccount()">Login</button>
                <h5 style="margin-top: 20px;">Quên mật khẩu ?</h5>
            </div>
           
        </div>

    </div>      
    <script src="../assets/Javascript/login.js"></script>
</body>
</html>