<div class="blockTable">
    <h3 class="title_manage">Quản lý nhà cung cấp</h3>
    <button class="addnew" ng-click="showAddNCC()"> Thêm mới</button> 
    <table  border="1" cellspacing="0" cellpadding="5" class="table_header" style="margin-top: 2%;">
        <thead style="background-color: #EAECF4;color: #7A707E;border: none;">
            <td style="width: 6%;height: 19px;">Mã NCC</td>     
            <td style="width: 18%;" >Tên NCC</td>        
            <td style="width: 15%;">Địa chỉ</td>          
            <td style="width: 15%;">Email</td>    
            <td style="width: 8%;">Phone</td> 
            <td style="width: 8%;">Chức năng</td>      
        </thead>
    </table>
    <div class="table_content" >
        <table   cellspacing="0" cellpadding="5" >
            <tr ng-repeat="x in listNCC" style="border-bottom: 2px solid rgb(235, 232, 232);">
                <td style="width: 6%;height: 19px;">{{x.maNCC}}</td>     
                <td style="width: 18%;" >{{x.tenNCC}}</td>        
                <td style="width: 15%;">{{x.diaChi}}</td>          
                <td style="width: 15%;">{{x.email}}</td>    
                <td style="width: 8%;">{{x.soDienThoai}}</td>  
                  
                <td style="width: 8%;">
                    <button class="task" ng-click="showeditNCC(x)"><i class="fa-solid fa-wrench"></i></button>
                    <!-- <button class="task" ng-click="detailSP(x)"><i class="fa-solid fa-circle-info"></i></button> -->
                    <button class="task" ng-click="deleteNCC(x) "><i class="fa-solid fa-delete-left"></i></button>
                </td>  
            </tr>
        </table>
    </div>
    
    
      <!-- Phủ đen màn hình -->
      <div class="Screen" ng-show="screen_shadow"></div>
        
      <!-- Form add sản phẩm -->
       <div class="form AddTH" ng-show="addNCCShow">  
        <form class="formcontent" onsubmit="resetForm(this)">
            <h1 class="titleForm">Thêm nhà cung cấp</h1>
            <div class="fa-solid fa-circle-xmark buttonExit" style="color: #e23428; font-size: 30px;" ng-click="exitForm()" type="submit"></div>
            <div style="margin-top:2%;" >
                         <h4 class="title_info">Thông tin nhà cung cấp</h4>
                        <label class="titlePrp">Tên nhà cung cấp</label>
                        <input type="text" ng-model="tenNCC" placeholder=" Ví dụ : Công ty Quang Huy" >  <br>                                 
                        <label class="titlePrp">Địa chỉ</label>
                        <input type="text" ng-model="diaChi" placeholder=" Ví dụ : Việt Hòa - Khoái Châu - Hưng Yên" >  <br>                                 
                        <label class="titlePrp">Số điện thoại</label>
                        <input type="text" ng-model="soDienThoai" placeholder=" Ví dụ : 0364174636" >  <br>                                 
                        <label class="titlePrp">Email</label>
                        <input type="text" ng-model="email" placeholder=" Ví dụ : daohuy1692003@gmail.com" >  <br>                                 
                                                            
          
                        <button type="submit" class="submit" ng-click="addNCC()">Lưu</button>
                    </div>
        </form>
       </div>
    
       <div class="form EditSP" ng-show="editNCCShow">
        <form class="formcontent" onsubmit="resetForm(this)">
            <h1 class="titleForm">Thêm thương hiệu</h1>
            <div class="fa-solid fa-circle-xmark buttonExit" style="color: #e23428; font-size: 30px;" ng-click="exitForm()" type="submit"></div>
            <div style="margin-top:2%;" >

                <h4 class="title_info">Thông tin nhà cung cấp</h4>
                <label class="titlePrp">Mã NCC</label>
                <input type="text" ng-model="maNCC" ng-disabled="true" >  <br>                         
                <label class="titlePrp">Tên nhà cung cấp</label>
                <input type="text" ng-model="tenNCC" placeholder=" Ví dụ : Công ty Quang Huy" >  <br>                                 
                <label class="titlePrp">Địa chỉ</label>
                <input type="text" ng-model="diaChi" placeholder=" Ví dụ : Việt Hòa - Khoái Châu - Hưng Yên" >  <br>                                 
                <label class="titlePrp">Số điện thoại</label>
                <input type="text" ng-model="soDienThoai"><br>                                 
                <label class="titlePrp">Email</label>
                <input type="text" ng-model="email" placeholder=" Ví dụ : daohuy1692003@gmail.com" >  <br>              
                            
             
                       
                 <button type="submit" class="submit" ng-click="editNCC()">Lưu</button>
                    </div>
        </form>
       </div>
       <div class="form DetailSP" ng-show="detailSPShow"></div>
      <!-- form xem chi tiết sản phẩm -->
    
    </div>
    