<div class="blockTable">
<h3 class="title_manage">Quản lý sản phẩm</h3>
<button class="addnew"  ng-click="showAddSP()"> Thêm mới</button>
<div class="taskbar">   
     
        <input type="text" class="search" style="height: 29px;width: 160px;border-radius: 5px;padding-left: 4px;" placeholder=" Nhập tên sản phẩm"  ng-model="txtSearchTenSanPham">
        <select class="search" style="height: 29px;width: 160px;border-radius: 5px;padding-left: 4px;" ng-model="txtSearchThuongHieu">
            <option style="color: rgb(166, 163, 163); font-style: italic;" value="" > - Chọn thương hiệu -</option>
            <option ng-repeat="th in listTH" value={{th.maTH}}>{{th.tenThuongHieu}}</option>
        </select>   
        <select class="search" style="height: 29px;width: 160px;border-radius: 5px;padding-left: 4px;" ng-model="txtSearchTheloai">
               <option style="color: rgb(166, 163, 163); font-style: italic;" value="" >- Chọn thể loại -</option>
                <option ng-repeat="a in listTheLoai" value={{a.maLoai}}>{{a.tenLoai}}</option>
       </select>       
        <input type="text" class="search" style="height: 29px;width: 160px;border-radius: 5px;padding-left: 4px;" placeholder=" Nhập giá tiền " ng-model="txtSearchGiaTien">
        <button style="width: 90px;height: 30px;border-radius: 5px;cursor: pointer;" ng-click="clickSearch()">Search</button>
      
</div>
<table  border="1" cellspacing="0" cellpadding="5" class="table_header">
    <thead>
        <td style="width: 5%;height: 19px;">Mã SP</td>     
        <td style="width: 18%;" >Tên sản phẩm</td>        
        <td style="width: 8%;">Số lượng tồn</td>
        <td style="width: 7%;">Giá bán</td>        
        <td style="width: 10%;">Trạng thái</td>
        <td style="width: 10%;">Image</td>
        <td style="width: 14%;">Chức năng</td>        
    </thead>
</table>
<div class="table_content">
    <table  border="1" cellspacing="0" cellpadding="5" >
        <tr ng-repeat="x in listItem">
            <td style="width: 5%;height: 19px;">{{x.maSP}}</td>     
            <td style="width: 18%;" >{{x.tenMH}}</td>        
            <td style="width: 8%;">{{x.soLuongton}}</td>
            <td style="width: 7%;">{{x.giaBan}}</td>        
            <td style="width: 10%;">{{x.trangthai}}</td>
            <td style="width: 10%;height: 40px;"><img src="{{x.image_SP}}" style="width: 70%;height:91%;"></td>
            <td style="width: 14%;">
                <button class="task" ng-click="showeditSP(x)"><i class="fa-solid fa-wrench"></i></button>
                <!-- <button class="task" ng-click="detailSP(x)"><i class="fa-solid fa-circle-info"></i></button> -->
                <button class="task" ng-click="deleteSP(x) "><i class="fa-solid fa-delete-left"></i></button>
            </td>  
        </tr>
    </table>
</div>
 <div class="nextpage" style="float: right;margin-right: 3%;">
    <button ng-click="page_prev()" ng-disabled="pageprev" >Trang trước</button>
    <button ng-click="page_after()" ng-disabled="pageafter">Trang sau</button>
 </div>

  <!-- Phủ đen màn hình -->
  <div class="Screen"  ng-show="screen_shadow"></div>
    
  <!-- Form add sản phẩm -->
   <div class="form AddSP" ng-show="addSPShow">  
    <form class="formcontent" onsubmit="resetForm(this)">
        <h1 class="titleForm">Thêm sản phẩm</h1>
        <div class="fa-solid fa-circle-xmark buttonExit" style="color: #e23428; font-size: 30px;" ng-click="exitForm()" type="submit"></div>
        <div style="margin-top:2%;" >
                     <h4 class="title_info">Thông tin sản phẩm</h4>
                    <label class="titlePrp">Tên Sản Phẩm</label>
                    <input type="text" placeholder="  Ví dụ : Đồng hồ Rolex" ng-model="TenSP">
                
                        <input type="file" id="fileInput">
                        <img src="{{imageSP}}">
                        <button ng-click="uploadImage()"> Tải ảnh lên</button>
                    
                    <br>
                    
              
                    <label class="titlePrp" >Thương hiệu</label>
                    <select ng-model="MaTH">
                        <option style="color: rgb(166, 163, 163); font-style: italic;" value="" selected> - Chọn thương hiệu -</option>
                        <option ng-repeat="th in listTH" value={{th.maTH}}>{{th.tenThuongHieu}}</option></select>                   
                    </select> <br>

                    <label class="titlePrp">Thể Loại</label>
                    <select ng-model="maLoai">
                        <option style="color: rgb(166, 163, 163); font-style: italic;" value="" selected>- Chọn thể loại -</option>
                        <option ng-repeat="tl in listTheLoai" value={{tl.maLoai}}>{{tl.tenLoai}}</option>
                    </select> <br>
                    <label class="titlePrp">Giá Bán</label>
                    <input type="number" placeholder=" Ví dụ : 10000" ng-model="giaBan"><br>

                    <label class="titlePrp">Số lượng</label>
                    <input type="number" placeholder="  Ví dụ : 10000" ng-model="soLuongton"><br>

                    
                    

                      

                    <label class="titlePrp">Mô tả</label>
                    <textarea placeholder="Ví dụ : Sản phẩm xuất xứ tại USA ,..." ng-model="Mota"></textarea>
                        
                    <button type="submit" class="submit" ng-click="addSP()">Lưu</button>
                </div>
    </form>
   </div>

   <div class="form EditSP" ng-show="editSPShow">
    <form class="formcontent" onsubmit="resetForm(this)">
        <h1 class="titleForm">Sửa sản phẩm</h1>
        <div class="fa-solid fa-circle-xmark buttonExit" style="color: #e23428; font-size: 30px;" ng-click="exitForm()" type="submit"></div>
        <div style="margin-top:2%;" >
                     <h4 class="title_info">Thông tin sản phẩm</h4>
                    <label class="titlePrp">Mã Sản Phẩm</label>
                    <input type="text" ng-model="MaSP" ng-disabled="true"><br> 
                    <label class="titlePrp">Tên Sản Phẩm</label>
                    <input type="text" ng-model="TenSP"><br>          
              
                    <label class="titlePrp" >Thương hiệu</label>
                    <select ng-model="MaTH">
                        <option style="color: rgb(166, 163, 163); font-style: italic;" value="" selected> - Chọn thương hiệu -</option>
                        <option ng-repeat="th in listTH" value={{th.maTH}}>{{th.tenThuongHieu}}</option></select>                   
                    </select> <br>

                    <label class="titlePrp">Thể Loại</label>
                    <select ng-model="maLoai">
                        <option style="color: rgb(166, 163, 163); font-style: italic;" value="" selected>- Chọn thể loại -</option>
                        <option ng-repeat="tl in listTheLoai" value={{tl.maLoai}}>{{tl.tenLoai}}</option>
                    </select> <br>
                    <label class="titlePrp">Giá Bán</label>
                    <input type="number"  ng-model="giaBan"><br>

                    <label class="titlePrp">Số lượng</label>
                    <input type="number"  ng-model="soLuongton"><br>

                    <label class="titlePrp">Ảnh</label>
                    <input type="file"  id="fileInputedit"> <br>
                    
                    <label class="titlePrp">Mô tả</label>
                    <textarea ng-model="Mota"></textarea>
                        
                    <button type="submit" class="submit" ng-click="editSP()">Lưu</button>
                </div>
    </form>
   </div>
   <div class="form DetailSP" ng-init="detailSPShow=false" ng-show="detailSPShow"></div>
 
    

<br>
  <!-- form xem chi tiết sản phẩm -->

</div>
