<main style="background-color: #F6F9FF; width: 100%;margin-left: 2px;height: 98%;">
    <!-- Thống kê chính -->
    <div id="thongke_main" ng-init="showThongKe_main=true" ng-show="showThongKe_main">
        <h3 class="title_manage" >Thống kê</h3>
        <div id="group-box">
            <div class="box" onclick="window.location.href='#!hoadonban'" style="background-color: rgb(53, 59, 238)">{{countHDB_CXN}} ĐH chưa xác nhận</div>
            <div class="box" style="background-color: rgb(19, 209, 104);" ng-click="clickThongKe_KH()"><i class="fa-solid fa-user-group" style="color: #f0f0f0;"></i>  {{countListKH}} Khách hàng thân thiết</div>
            <div class="box" style="background-color: rgb(214, 133, 12);" ng-click="clickThongKeSP_banchay()"><i class="fa-brands fa-sellsy" style="color: #fcfcfc;"></i> Sản phẩm bán chạy</div>
            <div class="box" style="background-color: rgb(242, 73, 73);" ng-click="clickThongke_doanhthu_time()"><i class="fa-solid fa-money-check-dollar" style="color: #ededed;"></i> Doanh thu</div>
        </div>
        <canvas id="chart" style="width: 95%;height: 380px;margin-top: 20px;"></canvas>
    </div>
   

    <!-- Thống kê khách hàng mua nhiều -->
    <div id="container-khachhang" ng-init="showThongKe_KH=false" ng-show="showThongKe_KH">
        <div style="margin: 10px 0 20px 20px; cursor: pointer;font-weight: bold;" onclick="window.location.href='#!thongke'">Quay lại</div>
        <h3 class="title_manage">Khách Hàng Thân Thiết</h3>
        <table class="custom-table" style=" border-collapse: collapse;">
            <thead class="header-table">
                <tr style="height: 7px;">
                    <td style="width: 10%;">Tài Khoản</td>
                    <td style="width: 10%;">Avatar</td>
                    <td style="width: 15%;">Họ Tên</td>
                    <td style="width: 15%;">Phone</td>
                    <td style="width: 15%;">Địa chỉ</td>
                    <td style="width: 10%;">Chi tiêu</td>
                   
                    <td style="width: 8%;text-align: center;">Số ĐH</td>
                </tr>               
            </thead>
        </table>
        <div class="content-table" style="height: 500px;overflow-y: auto;overflow-x: hidden;">
            <table class="custom-table-content" style=" border-collapse: collapse;">
                    <tr style="height: 7px;" ng-repeat="x in listKH_muanhieu">
                        <td style="width: 10%;">{{x.tenTaiKhoan}}</td>
                        <td style="width: 10%;"> <img style="width: 20px;height: 20px;border: 1px solid;" src="{{x.anhDaiDien}}" alt="error"></td>
                        <td style="width: 15%;">{{x.hoTen}}</td>
                        <td style="width: 15%;">{{x.soDienThoai}}</td>
                        <td style="width: 15%;">{{x.diaChi}}</td>
                        <td style="width: 10%;">{{x.tongtien|number:0}} đ</td>
                       
                        <td style="width: 8%;text-align: center;">{{x.sldh}}</td>
                    </tr> 
            </table>
        </div>
    </div>

      <!-- Thống kê sản phẩm bán chạy -->
      <div id="container-sanpham" ng-init="showThongKe_SPbanchay=false" ng-show="showThongKe_SPbanchay">
        <div style="margin: 10px 0 20px 20px; cursor: pointer;font-weight: bold;" onclick="window.location.href='#!thongke'">Quay lại</div>
        <h3 class="title_manage">Sản phẩm bán chạy</h3>
        <table class="custom-table" style=" border-collapse: collapse;">
            <thead class="header-table">
                <tr style="height: 7px;">
                    <td style="width: 15%;">Mã SP</td>
                    <td style="width: 20%;">Tên sản phẩm</td>
                    <td style="width: 20%;">Ảnh sản phẩm</td>
                    <td style="width: 15%;">Số lượng bán ra</td>
                    <td style="width: 15%;">Doanh Thu</td>                  
                </tr>               
            </thead>
        </table>
        <div class="content-table" style="height: 500px;overflow-y: auto;overflow-x: hidden;">
            <table class="custom-table-content" style=" border-collapse: collapse;">
                <tr style="height: 10px;" ng-repeat="x in listSP_banchay">
                    <td style="width: 15%;">{{x.maSP}}</td>
                    <td style="width: 20%;">{{x.tenMH}}</td>
                    <td style="width: 20%;"><img src="{{x.image_SP}}" alt="error" style="width: 40px;height: 30px;"></td>
                    <td style="width: 15%;">{{x.sldaban}}</td>
                    <td style="width: 15%;">{{x.doanhthu|number:0}}đ</td>                  
                </tr>      
            </table>
        </div>
    </div>

      <!-- Thống kê doanh thu theo thời gian -->
      <div id="container-doanhthu-time" ng-init="showThongKe_DoanhThu_time=false" ng-show="showThongKe_DoanhThu_time">
        <div style="margin: 10px 0 20px 20px; cursor: pointer;font-weight: bold;" onclick="window.location.href='#!thongke'">Quay lại</div>
        <h3 class="title_manage">Doanh thu tại cửa hàng</h3>
        <div style="text-align: center;margin: 10px 0;">
            <input type="date" ng-model="time_start_input" >
             <span style="display: inline-block;width: 30px; text-align: center;">đến</span>
            <input type="date"  ng-model="time_end_input"  >
            <button style="margin-left: 20px;" ng-click="clickSearch_time()"> Search</button>
            
        </div>
        <table class="custom-table" style=" border-collapse: collapse;">
            <thead class="header-table">
                <tr style="height: 7px;">
                    <td style="width: 15%;">Mã HĐ</td>
                    <td style="width: 20%;">Tên Khách Hàng</td>
                    <td style="width: 15%;">Địa chỉ</td>
                    <td style="width: 20%;">Ngày tạo</td>
                   
                    <td style="width: 15%;">Tổng HĐ</td>                  
                </tr>               
            </thead>
        </table>
        <div class="content-table" style="height: 370px;overflow-y: auto;overflow-x: hidden;">
            <table class="custom-table-content" style=" border-collapse: collapse;">
                <tr style="height: 10px;" ng-repeat="x in listHDB_time">
                    <td style="width: 15%;">{{x.maHD}}</td>
                    <td style="width: 20%;">{{x.tenKH}}</td>
                    <td style="width: 15%;">{{x.diachi}}</td>
                    <td style="width: 20%;">{{x.ngayTao|date:'dd-MM-yyyy'}}</td>
                    <td style="width: 15%;">{{x.thanhTien|number:0}}đ</td>                  
                </tr>      
            </table>
        </div>

        <div style="color: red;text-align: right;padding-right: 100px;font-weight: bold;">Tổng doanh thu : {{tongdoanhthu|number:0}} VNĐ</div>
    </div>
</main>