
     <!-- Phần thân -->
    <main style="">
           <!--  -->
            
       <div class="kengang2"><div class="title3" >Giỏ Hàng</div></div>
       <div class="content_Cart" style="width: 90%;margin: 0 auto;margin-top: 5%;">
            <table style="" class="title_table_cart">
                <tr style="background-color: #FED700;text-align: center;font-size: 17px;height: 40px;">
                    <td style="width: 5%;">Chọn</td>
                    <td style="width: 10%;">Hình ảnh</td>
                    <td style="width: 20%;">Tên sản phẩm</td>
                    <td style="width: 10%;">Đơn giá</td>
                    <td style="width:5% ;">Số lượng</td>
                    <td style="width:10% ;">Số tiền</td>
                    <td style="width: 6%;">Thao tác</td>
                </tr>                
                <tr style="text-align:  center;font-size: 17px;height: 100px;border-bottom: 1.6px solid rgb(202, 200, 200);" ng-repeat="x in listSP_Cart">                   
                    <td><input type="checkbox" ng-click="add_listSP_order(x)" style="width: 20px;height: 20px;" class="selectedx"></td>
                    <td><img src="{{x.anhSP}}"  style="width: 90px;height: 70px;"></td>
                    <td>{{x.tenSP}}</td>
                    <td>{{x.giaban|number:0}}đ</td>
                    <td><input type="number" value="{{x.soluong}}" style="width: 40px;" ng-model="slsp" ng-change="updateSL(x,slsp)"></td>
                    <td>{{x.tongtien|number:0}}đ</td>
                    <td>
                        <span ng-click="delete_Cart(x)" style="font-size: 23px;">
                            <i class="fa-sharp fa-solid fa-square-minus" style="color: #eb200a;"></i>
                        </span>
                   </td>
                </tr>
              
            </table>
            <div style="margin-top: 10px;" ng-if="sldh>0">
                <button  style="width: 130px;height: 30px;background-color: orange;color: white;border: none;"  ng-click="deleteAll_Cart()">Xóa tất cả</button>
                <p style="display: inline-block; float: right; font-size: 17px;color: orangered;font-weight: bold;">Thành tiền : {{thanhtien|number:0}} đ</p>
            </div>
            <p ng-if="sldh===0" style="color: red;font-size: 23px;">Bạn chưa thêm sản phẩm nào vào giỏ hàng</p>

       </div>

       <div class="content_inforUser">
        <p>Thông tin khách hàng</p>
        <form ng-submit="TaoDonHang()">
            <label for="tenKH">Tên Khách Hàng:</label>
            <input type="text" ng-model="tenKH" placeholder="Ví dụ : Đào Quang Huy ...." required><br>
    
            <label for="diachi">Địa Chỉ:</label>
            <input type="text" ng-model="diachi" required><br>
    
            <label for="email">Email:</label>
            <input type="email" ng-model="email" required><br>
    
            <label for="sdt">Số Điện Thoại:</label>
            <input type="number" ng-model="sdt" required><br>
    
            <label for="diaChiGiaoHang">Địa Chỉ Giao Hàng:</label>
            <input type="text" ng-model="diaChiGiaoHang" required><br>
    
            
    
            <label for="methodPay">Phương Thức Thanh Toán:</label>
            <select ng-model="methodPay" style="margin-bottom: 7px;padding-left: 10px;">
                <option value="" selected style="color: gray;">Chọn hình thức thanh toán</option>
                <option value="Thanh toán khi nhận hàng">Thanh toán khi nhận hàng</option>
                <option value="Thanh toán qua ATM">Thanh toán qua ATM</option>
                <option value="Thanh toán qua Momo">Thanh toán qua Momo</option>
            </select><br>
           
            <label for="diaChiGiaoHang" style="float: left;display: inline-block;margin-right: 4px;">Ghi chú:</label>
            <textarea ng-model="ghichu" style="width: 50%;height: 100px;;"></textarea><br><br>
          
            <label for="thanhTien" style="color: orangered;">Thành Tiền:</label>
            <input type="text" value="{{thanhtien|number:0}} đ" disabled><br>
              
            <button ng-click="TaoDonHang()" type="submit" style="display: inline-block;;width: 130px;height: 35px;margin-left: 20%;margin-top: 10px;background-color: rgb(0, 128, 255);color: white;">
                Đặt Hàng
            </button>
        </form>
            
       </div>
        
      <div style="height: 300px;">

      </div>
             
        
    </main>
       
       
    
    <!-- Phần Cuối -->
 <!-- Phần Cuối -->
<div style="width: 100%;height: 90px;display: flex; padding:22px 0 10px 10%; color: white; background-color:#796752;margin-top: 30px;">
    <i class="fa-regular fa-clock" style="color: #fcfcfc;font-size: 33px;margin-right: 13px;"></i>
    <div style="line-height: 14px;">
      
        <span style="font-weight: bold;">MUA HÀNG ONLINE</span>
        <p> Tất cả các ngày trong tuần</p>
    </div>
 
    
    <div style="line-height: 14px;margin-left: 20%;">
       <i class="fa-solid fa-phone" style="color: #fcfcfc;font-size: 33px;margin-right: 13px;"></i>
       <div style="display: inline-block;"><span style="font-weight: bold;">HỖ TRỢ BÁN HÀNG</span>
          <p> 0364174636</p></div>
       
   </div>
 
   <div style="line-height: 14px; margin-left: 20%;">
    <i class="fa-solid fa-envelope" style="color: #fcfcfc;font-size: 33px;margin-right: 13px;"></i>
    <div style="display: inline-block;">
       <span style="font-weight: bold;">EMAIL</span>
       <p> daohuy1692003@gmail.com</p>
    </div>  
  
 </div>   
 </div>
 <!--  -->
 <div style="width: 100%;height:auto;margin-top: 10px;padding: 10px;">
    <div id="tintucvideo">Tin Tức Video</div>
    <div style="background-color: #796752;width: 100%;height: 1px;margin-top: 0.2px;margin-bottom: 50px;"></div>
    <iframe style="display: block;margin: 0 auto;" width="560" height="315" src="https://www.youtube.com/embed/KRxdfxoZsl8?si=jwgi9Y-snDKxe6or" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p style="font-weight: bold;font-size: 15px;margin-left: 33%;">Hướng dẫn chọn đồng hồ dành cho người dùng mới</p>
 </div>
 <!--  -->
 <footer id="footer-page">
 
    <div style="margin-left: 5%;float: left;margin-top: 1%;">
       <h4 style="color: white;font-size: 13px;font-weight: bold;">CÔNG TY TNHH PHÁT TRIỂN VÀ THƯƠNG MẠI QUANG HUY</h4>
       <p style="line-height: 19px;">VPGD : 200A Phố Huế, Hai Bà Trưng, Hà Nội <br>
          Điện thoại : (024) 2.214.8336 <br>
          MST: 0105545498 Cấp ngày: 03/10/2011 Nơi cấp: Hà Nội</p>
    </div>
    <div style="float: right; width: 40%;height: 30%;;line-height: 50px;"> 
       <img src="/image/dathongbao.png" style="width: 170px;height: 47px;" alt="">
       <span style="margin-left: 50px;;">© HuyWatch-All rights reserved</span>
       <img src="/image/image4.png" alt="">
       <p>Longines | Tissot | MIDO | Frederique Constant | Seiko | Citizen | Orient
       </p>
    </div>
 </footer>
 
   