<main >
       <div class="thongtintrang">
       
        <a href="#!thongtinsp" style="color: rgb(242, 44, 44);">Thông tin sản phẩm</a>
       </div>
       <!--  -->
       <div class="content">
        <div class="content_left">
            <img src="{{objSP.image_SP}}" alt="" class="imagesp">
            
        </div>
        <!-- .......................... -->
        <div class="content_right">
            <div class="titlesp1"><p  style="font-size: 25px;font-weight: bold; margin-bottom: 10px;" class="content1">{{objSP.tenMH}}</p>
                <p style="font-size: 19px;padding-bottom: 20px;" class="content1">Lượt xem: {{objSP.luotxem}} | Ngày đăng: 2/2/2023
                     <span class="iconn" style=" margin-left: 143px;"><i  style="margin-right: 6px;"class="fa-solid fa-thumbs-up"></i>  Thích 54</span>
                     <span class="iconn"><i  style="margin-right: 3px;" class="fa-solid fa-share-from-square"></i>Share 27</span></p>
                <table id="chitietsp" style="width: 100%;height: auto; margin-top: 10px;border-bottom: 1px solid black;border-top: 1px solid black; padding: 20px 0px;"> 
                    <tr>
                        <td style="width: 40%;">Mã sản phẩm</td>
                        <td >: WATCH{{objSP.maSP}}</td>
                        
                    </tr>
                    <tr>
                        <td>Giá đang khuyến mãi</td>
                        <td colspan="2"  style="color:red;font-size: 20px;font-weight: bold;">: <span style="color:red;font-size: 24px;font-weight: bold;margin-right: 7px;"class="giatien">{{objSP.giaBan-(objSP.giaBan/100*15)|number:0}}</span>VNĐ </td>
                        
                    </tr>
                    <tr>
                        <td>Giá cũ</td>
                        <td colspan="2">: {{objSP.giaBan|number:0}} VNĐ</td>
                    </tr>
                    <tr>
                        <td>Tiết kiệm được</td>
                        <td colspan="2">: {{objSP.giaBan/100*15|number:0}} (-15%)</td>
                    </tr>
                    <tr>
                        <td>Xuất Xứ Hàng Hóa</td>
                        <td colspan="2">: Chính Hãng Chuẩn Local Brand</td>
                    </tr>
                    <tr>
                        <td>Tình trạng</td>
                        <td colspan="2">: {{objSP.trangthai}}</td>
                    </tr>
                   
                </table>
                <div style="width: 100%;height: auto;margin-top: 46px;display: flex;flex-wrap: wrap;justify-content: space-between;">
                <button class="click muangay" style="background-color: darkgreen;"ng-click="muangay(objSP)">Mua Ngay</button>
                <button class="click themgh" style="background-color: orangered;"ng-click="add_toCart(objSP)">Thêm vào giỏ hàng</button>
                <button class="click muangay" style="background-color: cornflowerblue;"onclick>Trả góp qua CMND</button>
                <button class="click muangay" style="background-color: saddlebrown;"onclick>Trả góp qua ATM</button>
                <button class="click hotline" style="width: 100%;background-color: rgb(166, 145, 27);"onclick>Liên Hệ 0364174636</button>
                </div>
            </div>
            
        </div>
       
       

       </div>
       <!-- Sản phẩm tương tự -->
       <div style="margin-left: 4%;width: 1200px">
        <div style="width: 270px;padding: 10px;height: 50px;border: 3px solid goldenrod;font-size: 23px;font-weight: bold;">Sản phẩm tương tự</div>
        <div style="width: 1200px;height: 4px;margin: 0 auto;background-color: gold; margin: 20px 0;"></div>
        <div class="containersp">
            <!-- sản phẩm -->
           <div class="boxsp" ng-repeat="x in listSP">
            <a href="#!thongtinsp"><img ng-click="clickProductx(x)" src="{{x.image_SP}}" alt="error" ></a>
            <a href="#!thongtinsp" class="titlettsp">{{x.tenMH}}</a>
            <div class="giattsp">
                <p class="gia">{{(x.giaBan)-(x.giaBan/100*15)|number:0}}đ </p>
                <p class="giacu">{{x.giaBan|number:0}}</p>
                <span class="giamgia">-15%</span>
            </div>
         </div>  
         
       </div>
       
</main>
<!-- Phần Cuối -->
<!-- Phần Cuối -->
<div style="width: 100%;height: 90px;display: flex; padding:22px 0 10px 10%; color: white; background-color:#796752;margin-top: 30px;">
    <i class="fa-regular fa-clock" style="color: #fcfcfc;font-size: 33px;margin-right: 13px;"></i>
    <div style="line-height: 14px;">
      
        <span style="font-weight: bold;">MUA HÀNG ONLINE</span>
        <p> Tất cả các ngày trong tuần</p>
    </div>
 
    
    <div style="line-height: 14px;margin-left: 20%;">
       <i class="fa-solid fa-phone" style="color: #fcfcfc;font-size: 33px;margin-right: 13px;"></i>
       <div style="display: inline-block;"><span style="font-weight: bold;">HỖ TRỢ BÁN HÀNG</span>
          <p> 0364174636</p></div>
       
   </div>
 
   <div style="line-height: 14px; margin-left: 20%;">
    <i class="fa-solid fa-envelope" style="color: #fcfcfc;font-size: 33px;margin-right: 13px;"></i>
    <div style="display: inline-block;">
       <span style="font-weight: bold;">EMAIL</span>
       <p> daohuy1692003@gmail.com</p>
    </div>  
  
 </div>   
 </div>
 <!--  -->
 <div style="width: 100%;height:auto;margin-top: 10px;padding: 10px;">
    <div id="tintucvideo">Tin Tức Video</div>
    <div style="background-color: #796752;width: 100%;height: 1px;margin-top: 0.2px;margin-bottom: 50px;"></div>
    <iframe style="display: block;margin: 0 auto;" width="560" height="315" src="https://www.youtube.com/embed/KRxdfxoZsl8?si=jwgi9Y-snDKxe6or" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p style="font-weight: bold;font-size: 15px;margin-left: 33%;">Hướng dẫn chọn đồng hồ dành cho người dùng mới</p>
 </div>
 <!--  -->
 <footer id="footer-page">
 
    <div style="margin-left: 5%;float: left;margin-top: 1%;">
       <h4 style="color: white;font-size: 13px;font-weight: bold;">CÔNG TY TNHH PHÁT TRIỂN VÀ THƯƠNG MẠI QUANG HUY</h4>
       <p style="line-height: 19px;">VPGD : 200A Phố Huế, Hai Bà Trưng, Hà Nội <br>
          Điện thoại : (024) 2.214.8336 <br>
          MST: 0105545498 Cấp ngày: 03/10/2011 Nơi cấp: Hà Nội</p>
    </div>
    <div style="float: right; width: 40%;height: 30%;;line-height: 50px;"> 
       <img src="/image/dathongbao.png" style="width: 170px;height: 47px;" alt="">
       <span style="margin-left: 50px;;">© HuyWatch-All rights reserved</span>
       <img src="/image/image4.png" alt="">
       <p>Longines | Tissot | MIDO | Frederique Constant | Seiko | Citizen | Orient
       </p>
    </div>
 </footer>
 
 
 
 
