<main style="height: auto; display: block;"><div>
    <div class="banner">
        <img src="/image/banner1.webp" alt="error" >
       
    </div>     
    <div class="kengang"><div class="tittleth">cùng với các thương hiệu lớn</div></div>
    <div class="thuonghieus">
       <img src="/image/thuonghieu/bubery.png" alt="" class="thuonghieu">
       <img src="/image/thuonghieu/carito.png" alt="" class="thuonghieu">
       <img src="/image/thuonghieu/choloe.png" alt="" class="thuonghieu">
       <img src="/image/thuonghieu/d&g.png" alt="" class="thuonghieu">
       <img src="/image/thuonghieu/givenchy.png" alt="" class="thuonghieu">
       <img src="/image/thuonghieu/rolex.png" alt="" class="thuonghieu">
       <img src="/image/thuonghieu/pagada.png" alt="" class="thuonghieu">
    </div>
       <div class="banner2s">
           <img src="/image/longines.jpg" alt="error" >
           <img src="/image/tissot.jpg" alt="error">
       </div>
       <!-- ......................UY tín -->
    <div class="tieudeuytin">
       <div class="tdut">
        <img src="/image/hailong.png" alt="error" class="img1">
        <div class="tieudeuytin1">uy tín</div>
        <div class="tieudeuytin2">làm hàng đầu</div>
       </div>
       <div class="tdut">
           <img src="/image/giacahoply.png" alt="error" class="img1">
           <div class="tieudeuytin1">cam kết</div>
           <div class="tieudeuytin2">giá phù hợp</div>
          </div>
       <div class="tdut">
           <img src="/image/doitra.png" alt="error" class="img2">
           <div class="tieudeuytin1" style="padding-left: 20px;">đền gấp 10 lần nếu</div>
           <div class="tieudeuytin2">hàng fake</div>
          </div>
    </div>
    <!-- danh mục sản phẩm -->
    <div class="danhmucsp">      
       <div class="kengang1"></div>
       <div class="tittledmsp">Danh mục sản phẩm</div>
       <div class="kengang1"></div>        
    </div>
    <!-- click chọn danh mục -->
    <!-- <div class="anhdmsps">
       <div><a class="linkadmsp1" href="../HTML/donghonam.html"><img src="Ảnh/donghonam.jpg" alt="" class="anhdmsp1"></a></div>
       <div><a class="linkadmsp2" href="../HTML/donghonu.html"><img src="Ảnh/donghonu.jpg"  alt="" class="anhdmsp2"></a></div>
       <div><a class="linkadmsp3" href="../HTML/donghodoi.html"><img src="Ảnh/donghodoi.jpg" alt="" class="anhdmsp3"></a></div>
    </div> -->
    <div class="sanphambc">Sản phẩm tại cửa hàng</div>
    <!--.............ĐỒNG HỒ NAM BÁN CHẠY -->
    <div class="sanpham">Đồng Hồ Nam<div></div></div>
    <div class="containersp">
       <!-- sản phẩm -->
      <div class="boxsp" ng-repeat="x in listSP_Nam">
       <a href="./thongtinsp.html"><img  onclick="laydulieu(this)" src="{{x.image_SP}}" alt="error" ></a>
       <a href="./thongtinsp.html" class="titlettsp">{{x.tenMH}}</a>
       <div class="giattsp">
           <p class="gia">{{(x.giaBan)-(x.giaBan/100*15)|number}}đ </p>
           <p class="giacu">{{x.giaBan|number}}</p>
           <span class="giamgia">-15%</span>
       </div>
    </div>
        <!--.............ĐỒNG HỒ Nữ BÁN CHẠY -->
    <div class="sanpham">Đồng Hồ Nữ<div></div></div>
    <div class="containersp">
       <!-- sản phẩm -->
      <div class="boxsp" ng-repeat="x in listSP_Nu">
       <a href="./thongtinsp.html"><img  onclick="laydulieu(this)" src="{{x.image_SP}}" alt="error" ></a>
       <a href="./thongtinsp.html" class="titlettsp">{{x.tenMH}}</a>
       <div class="giattsp">
           <p class="gia">{{(x.giaBan)-(x.giaBan/100*15)|number}}đ </p>
           <p class="giacu">{{x.giaBan|number}}</p>
           <span class="giamgia">-15%</span>
       </div>
   
 <!-- sản phẩm -->

       
</main style="width:100%">
<!-- Phần Cuối -->

