*{margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;}
    
    .login{
        width: 100%;
        height:100%;
        text-align: center;   
       
    
    }
    
    .login .form{
        border-radius: 20px;
        width: 45%;
        height: 370px;
        margin: 100px auto;
        background-color: #ffff;
        border: 1px solid;
    }
    
    .container-left-Form{
        float: left;
        margin-top: 30px;    
        width: 50%;
        height: 100%;
    }
    .container-right-Form{
        float: right;
        width: 50%;
        height: 100%;
        padding-top: 20px;
        
    }
    .container-right-Form>h2{
        margin-top: 20px;
        margin-bottom: 80px;
    }
    .Check{
        
        width: 80%;
        height: 30px;    
        background-color: #E6E6E6;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 9px;
    }
    .Check>input{
        padding-top: 3px;
        display: inline-block;
        width: 70%;
        height: 90%;
        border: 0;
        background-color:#E6E6E6;
        padding-left: 15px;
        font-size: 16px;
        outline: none;;
    }
    
    
    #dangnhap{
    margin-top: 20px;
    font-size: 15px;
    width: 160px;
    height: 30px;
    border-radius: 14px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #6FB555;
    }
    #dangnhap:hover{
        background-color:blue ;
    }
    /*  */
    .hienthiadmin{
        height: 100%;
        display: none;
        
    }
    .container-left{
        width: 24%;
        height: 100%;
        background-color: #222D32;
        color: white;
        border: 0px;
       
        padding: 15px 0;
        float: left;
    }
    #admin{
        width: 100%;
        height: auto;
        font-size: 17px;
        
        padding-bottom: 17px;
       
        font-weight: bold;
        text-align: center;
    }
    .tieude{
        width: 100%;
        height: 45px;
        padding: 11px 15px;
        background-color: #1A2226;
        color: #b0d2ee;
        font-size: 18.5px;
        text-align: center;
        margin-top: 14px;
        text-transform: uppercase;
        
    }
    .menu{
        width: 100%;
        padding: 11px 43px;
        padding-right: 10px;
        height: 370px;
        overflow:overlay;
        scroll-behavior: inherit;
    }
    i{
        margin-right: 10px;
        font-size: 18px;
    }
    .quanly{
        height:auto;
        width: 100%;
        margin-top: 30px;
        text-align: left;
        position: relative;
        
        
        
    }
    .iconmenu{
        position: absolute;
        right: 1px;
        transition: all 0.3s ease;    
        cursor: pointer;
        font-size: 25px;
        
    }
    .iconchecked{
        transform: rotate(-90deg);
    }
    
    .menu2{
       display: none;
        padding-top: 10px;
        padding-left: 23%;
        transition: all 5s ease ;
        
       
    }
    .menu2>li{
        list-style: none;
        line-height: 40px;
        
    }
    .menu2>li:hover{
        color: blue;
        cursor: pointer;
    }
     
    
    
    
    
    
    
    
    
    
    
    .container-right{
        float: left;
        width: 76%;
        height: 100%;
        
    }
    .thanhtrangthai{
        width: 100%;
        height: 60px;
        padding: 20px 20px;
        background-color: #222D32;
        color:white;
        font-size: 16px;
        font-weight: bold;
        border-left: 1px solid;
    
    }
    .quanlyhientai{
        margin-left: 10px;
        color: gold;
    }
    .quanlys{
        
        margin-top: 10px;
        width: 100%;
        height: 540px;
        padding:  10px 0px 10px 30px;
        
        
    }
    .qlsp{
        width: 100%;
        height: 40px;
        display: flex;
        margin-bottom: 15px;
        
        
    }
    .chucnang{    
        border:1px solid grey;
        height:35px;        
        border-radius: 7px;
        padding-top: 10px;
        padding-left: 9px;  
        margin-right: 10px;
        font-size: 15px;
        position: relative;      
           
        
    }
    .themmoi{
        width: 130px;
        height: 35px;
        border-radius: 7px;
        color: white;
        background-color: rgb(24, 73, 234);
        cursor: pointer;
        margin-right: 30px;
        
        
    }
    .icondown{
        position: absolute;
        right: 2px;
        top: 8px;
        cursor: pointer;
    }
    .chitietqlsp{
    
       
        width: 100%;
        height: 440px;
        box-shadow: none;
        overflow :auto;
        padding-right: 13.6px;
    
        
        border-radius: 4px;
    }
    .textsl{
        width: 30px;
        text-align: center;
    }
    .anhsp{
        margin-top: 4px;
        width: 50px;
        height: 50px;
        border-radius: 3px;
    }
    .table1{
        text-align: center;
        border-collapse: collapse;
        
    }
    .table1 tr td{
        font-weight: bold;
        height: 40px;
        font-size: 18px;
    }
    .table1 td{
        border-bottom: 0px;
    }
    .table{
        text-align: center;
        border-collapse: collapse;
        
        
    }
    td,th{
        border: 1.5px solid;
        
    }
    .notett{
        color: blue;
        cursor: pointer;
    }
    .deletesp{
        color: red;
        cursor: pointer;
    }
    .collumx{
        width: 70px;
        text-align: center;
    }
    .collumimg{
        width: 100px;
    }
    .collumy{
        width: 200px;
    }