*{margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;}

.container{
    width: 100%;
    height: 612px;
}
.content_left{
    float: left;
    width: 23%;
    height: 100%;
    color: black;
    background-color: #FFFFFF;;
   
}
.content_left a,i{
   color:#6E707E;
}
.content_right{
    float: right;
    width: 76.999%;
    height: 100%;
    background-color:#F6F9F7;
}
.header_top{
    height: 6%;
    padding: 5px 10px 5px 40%;
    width: 99%;
    margin-left: 4px;
    background-color: whitesmoke;
    color:black;
    box-shadow: 5px 2px 5px rgba(128, 128, 128, 0.5);
}
.fuction_system{
    width: 100%;
    margin-top: 20px;
    height: 33px;
    text-align: center;
    padding-top: 8px;
    background-color: rgb(26,34,38);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(111, 112, 112);
    font-weight: bold;
    font-size: 17px;
}.tieude{
    width: 100%;
    height: 45px;
    padding: 11px 15px;
    background-color: #1A2226;
    color: #b0d2ee;
    font-size: 18.5px;
    text-align: center;
    margin-top: 14px;
    text-transform: uppercase;
    
}
.menu{
    width: 100%;
    padding: 11px 43px;
    padding-right: 10px;
    height: 370px;
    overflow:overlay;
    scroll-behavior: inherit;
    color: white;
}
i{
    margin-right: 10px;
    font-size: 18px;
}
.quanly{
    height:auto;
    width: 100%;
    margin-top: 30px;
    text-align: left;
    position: relative;
   
    
    
}

.iconmenu{
    position: absolute;
    right: 1px;
    transition: all 0.3s ease;    
    cursor: pointer;
    font-size: 25px;
    
}
.iconchecked{
    transform: rotate(-90deg);
}

.menu2{
   display: none;
    padding-top: 10px;
    padding-left: 23%;
    transition: all 5s ease ;
    
   
}
.menu2>li{
    list-style: none;
    line-height: 40px;
    
}
.menu2>li:hover{
    color: blue;
    cursor: pointer;
}
 .table1{
    width: 98%;
    height: 85%;
    margin: 0 auto;
    background-color: white;
 }
 .collumy{
    text-align: center;
    height: 50px;
   
 }
 .click_page{   
    text-decoration: none;   
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    
 }
 .fa-solid{
  display: inline-block;
  width: 30px;
  font-size: 24px;
 }
 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
 }
 a:hover{
    color: blue;
 }
/* taskbar */
.taskbar{
    width: 99%;
    height: 30px;
    padding-left: 2%;
    margin-bottom: 0.5%;
    
}
 /* table */
 table{
    width: 95%;    
   
   border-collapse: collapse;
    margin-left: 2%;
 }
 tr,td,thead{
    text-align: center;
   
  
 }
 tr{
    height: 45px;
 }
 thead{
    font-weight: bold;
    font-size: 15px;
    height: 33px;
    background-color: #EAECF4;
   
 }
 td{
    font-size: 15px;
 }
 .task{
   border: none;
   background-color: white;
   width: 25px;
   margin-right: 5px;
   
 }
 .task:hover{
    color:rgb(216, 85, 10);
 }
 i{
    cursor: pointer;
 }
 /* design thanh cuộn */
 ::-webkit-scrollbar{
    width: 7px;
    
 }
 ::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 4px;
    height: 20px;
 }
 textarea{
    width: 320px;
 }
 #setting
 {
   width: 200px;
   height: 125x;
   position:  absolute;
   right: 24px;
   top:35px;
   color: white;
   background-color: rgb(6, 79, 18);
   line-height: 27px;
   padding-left: 5px;
   cursor: pointer;
   
 }

