.blockTable{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    box-shadow: 5px 8px 5px rgba(128, 128, 128, 0.5);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    
 
}
.table_content{
    width: 100%;
    height: 74%;
    overflow: auto;
    margin-top: 0;
}

body{
overflow: hidden;
}
thead{
    background-color: #3C8DBC;
    color: white;
}
.title_manage{
    color: grey;
    text-transform: uppercase;
    padding: 5px;
    display: inline-block;
}
.addnew{
    float: right;
    width: 120px;
    height: 30px;
    margin-right: 30px;
    border: none;
    color: white;
    font-size: 15px;
    background-color: rgb(25, 88, 235);
    border-radius: 5px;
    
}
.addnew:hover{
    background-color: rgb(134, 130, 130);
}
.Screen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(46, 45, 45, 0.537);
    top: 0;
    left: 0;   
   
}
.form
{
    z-index: 999;
    width: 70%;
    height: 550px;
    background-color: white;
    position: fixed;
    top: 4%;
    left: 15%;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.buttonExit {
    float: right;
    position: fixed;
    right: 14%;
    top: 1.7%;
    border: 0px;
    border-radius: 70%;
    margin: 5px 10px 0 0;
    width: 26px;
    height: 26px;
    z-index: 99999999999;
}

.titleForm{
    color: #7e7e80;
    margin-bottom: 3%;
    position: absolute;
    top: 2%;
}
.buttonExit:hover{
   color: goldenrod;
}

.formcontent{
        padding:4% ;   
    
}
.title_info{
    color:blue;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 10px
}
.titlePrp{
    font-size: 18px;
    display: inline-block;
    margin-bottom: 10px;
    width: 170px;
}
.submit{
    position: absolute;
    bottom: 13px;
    text-align: center;
    padding-top: 5px;
    right: 13px;
    background-color: rgb(248, 79, 79);
    color: white;   
    border: 0;
    border-radius: 5px;
    width: 60px;
    height: 35px;
    cursor: pointer;
}
.submit:active{
    background-color: red;
}
input,select{
    width: 320px;
    height: 29px;
    padding-left: 15px;
}
textarea{
    width: 320px;
    height: 180px;
    padding: 5px;
}
.hdb{
    display: inline-block;
    text-transform: uppercase;
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
}
.hdb.no_confirm{
    background-color: #3C8DBC;
    color: white;
    
}
.hdb.confirm{
    background-color:rgb(255, 166, 0);
    color: white;
    
}
.hdb.cancel{
    background-color:orangered;
    color: white;
    
}
.hdb_active{
    border-bottom:1.5px solid black;
    
    
}
.hdb:active{
  background-color: blue;  
}

.list_Product_Order{

}
td{
    font-size: 12px;
}
.infor_order{
    width: 95%;
    margin: 1% 4%;
}
.infor_order table td:first-child {
    font-size: 14px;
    font-weight: bold;
    text-align: left;    
}
.infor_order table tr{
    height: 26px;
}
.infor_order table tr td:nth-child(3) {
    text-align: left;
    font-size: 14px;
}
.infor_order table tr td:nth-child(2) {
    width: 30px;
   
}
.list_Product_Order{
    width: 89%;
   
    border:1px solid;
    margin: 0 auto;
}
.buttonCustom {
    display: block;
    width: 100px;
    border-radius: 5px;
    height: 26px;
    color: white;
    font-size: 14px;
    padding-top: 3px;
    margin-left: 23%;
    margin-top: 20px;
    background-color: rgb(0, 94, 255);
    cursor: pointer;
    text-align: center;
  }
  .buttonCustom:active{
    background-color: orangered;
  }
  




