.blockTable{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    box-shadow: 5px 8px 5px rgba(128, 128, 128, 0.5);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
thead{
    background-color: #3C8DBC;
    color: white;
}
.title_manage{
    color: grey;
    text-transform: uppercase;
    padding: 5px;
    display: inline-block;
}
.addnew{
    float: right;
    width: 120px;
    height: 30px;
    margin-right: 30px;
    border: none;
    color: white;
    font-size: 15px;
    background-color: rgb(25, 88, 235);
    border-radius: 5px;
    
}
.addnew:hover{
    background-color: rgb(134, 130, 130);
}