
/* Phần Thân */
a{
    text-decoration: none;
    font-size: 15px;
    
}
.thongtintrang{
 
  padding: 10px;
  padding-left: 75px;
  margin-bottom: 15px;
  background-color: darkgrey;
}
.kengang2{
    width: 900px;
    height: 3px;
    background-color: #796752;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;

    
}
::-webkit-scrollbar{
    width: 7px;
    
 }
 ::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 4px;
    height: 20px;
 }
.kengang2 .title3{
    width: 17%;
    font-size: 26px;
    position: relative;  
    bottom:13px;
    left: 40%;
    background-color: white;
    text-transform: uppercase;
    padding:0 10px 0;
    text-align: center;
    font-weight: bold;
   

}
.chitietgh{
    max-width: 1200px;
    height: 950px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
}
.container_left{
    width: 50%;
    height: 600px;  
    padding: 15px;
}
.formdonhang{
    margin-top: 20px;
    border: 1px solid;
    padding: 18px ;
    height: auto;
}
.content{
    margin-bottom: 10px;
    margin-top: 10px;
}
.textinput{
    height: 32px;
    padding: 6px 10px;  
    border: 1px solid;
    font-size: 13px;
    width: 100%;
    border-radius: 3px;
}
label{
    font-weight: 500;
    font-size: 15px;
}
.kihieu{
    color: firebrick;
}
#dathang{
    
    width: 180px;
    height: 40px;
    color: aliceblue;
    background-color: #796752;
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    font-size: 19px;
}
#dathang:hover{
    background-color: rgb(38, 77, 174);
}
.container_right{
    margin-left: 30px;
    width: 48%;
    height: 900px;
    background-color:#EFEFEF;
    padding-top: 15px;
    border-radius: 7px;
    
}

.deletesp{
    position: absolute;
    background-color: rgb(185, 49, 49);  
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 0px;
    top:5px;
    right: 7px;
    
   

}
.sotien{
    color: red;
    margin-right: 3px;
}

.deletesp>img{
    width: 100%;
    height: 100%;
}
.tinhtien{
    border-bottom: 1px solid black;
    margin-top: 20px;
    padding: 15px;
    padding-left: 50px;
    color: red;
    font-size: 20px;
    text-align: right;
}
#hinhthuctt{
    margin-top: 30px;
    padding: 15px;
}
.phuongthuctt{
    
    font-weight: bold;
}
#giohangtrong{
    display: none;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  color: red;
}
#listsp{
    width: 98%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sanphamCart{
    width: 94%;
    height: 100px;
   
    border-bottom: 1px solid;
    margin-bottom: 13px;
    margin-left: 10px;
}
.tenspCart{
    width: 100%;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}
.anhspCart{
   
    width: 120px;
    height: 74px;    
    border: 1px solid;
}
.title_table_cart
{
    width: 100%;
    box-shadow: 1px gray;
}
table{
    border-collapse: collapse;
    
}
.content_Cart table tr td{
    border: 1px solid white;
}
.content_inforUser
{
    margin: 0 auto;
    width: 90%;
    margin-top: 40px;
}
.content_inforUser p{
    font-size: 27px;
}
.content_inforUser form label
{
    width: 20%;
    font-size: 18px;
}
.content_inforUser form input,select
{
    width: 50%;
    font-size: 14px;
    height: 30px;
    margin-bottom: 9px;
    padding-left: 5px;
}

